html,
body {
  height: 100%;
}

.stfbt-modal-window {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.35);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  /* -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s; */
}

.stfbt-modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.stfbt-modal-window>div {
  width: 550px;
  max-width: 80%;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 0;
  right: 0;
}

.stfbt-modal-window header {
  font-weight: bold;
}

.stfbt-modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.stfbt-modal-close:hover {
  color: #000;
}

.stfbt-modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.stfb-tab{
    position: fixed;
    left: 0;
    top: 235px;
    z-index: 1000;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.stfb-tab:hover, 
.stfb-tab:focus,
.stfb-tab:active {
    text-decoration: none;
    color: #fff;
    background-color: inherit;
}


@keyframes slideInLeft {
  0%   {left:-300px;}
  100% {left:0;}
}

.stfb-tab--left {
    left: -300px;
    -webkit-transform-origin: 21px;
    -webkit-transform: rotate(90deg);
    -ms-transform-origin: 21px;
        transform-origin: 21px;
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    right: auto;
    animation-name: slideInLeft;
    animation-duration: 0.2s;
    animation-delay: 1s;
    animation-direction: forward;
    animation-fill-mode: forwards;
}

/* The animation code */
@keyframes slideInRight {
  0%   {right:-300px;}
  100% {right:0;}
}

.stfb-tab--right {
    right: -300px;
    -webkit-transform-origin: 100% 100%;
    -webkit-transform: rotate(-90deg);
    -ms-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    left: auto;
    animation-name: slideInRight;
    animation-duration: 0.2s;
    animation-delay: 1s;
    animation-direction: forward;
    animation-fill-mode: forwards;
}